<div class="tabs {{@tabStyle}}">
{{yield}}

<nav>
<ul>
<li class="tab-current"><a href="#section-bar-1" class="icon icon-home"><span>Home</span></a></li>
<li><a href="#section-bar-2" class="icon icon-box"><span>Archive</span></a></li>
<li><a href="#section-bar-3" class="icon icon-display"><span>Analytics</span></a></li>
<li><a href="#section-bar-4" class="icon icon-upload"><span>Upload</span></a></li>
<li><a href="#section-bar-5" class="icon icon-tools"><span>Settings</span></a></li>
</ul>
</nav>
<div class="content-wrap">
<section id="section-bar-1" class="content-current"><p>1</p></section>
<section id="section-bar-2"><p>2</p></section>
<section id="section-bar-3"><p>3</p></section>
<section id="section-bar-4"><p>4</p></section>
<section id="section-bar-5"><p>5</p></section>
</div><!-- /content -->
</div>