<div class="container">
  <section>
    {{#x-tab  tab-style="tabs-style-bar" as |tab| }}

      {{#tab.pane title="Home" icon="home"}}
        <h1>Home</h1>
        <p>This is home content</p>
      {{/tab.pane}}

      {{#tab.pane title="Archive" icon="box"}}
        <h1>Archive</h1>
        <p>This is archive content</p>
      {{/tab.pane}}

      {{#tab.pane title="Analytics" icon="display"}}
        <h1>Analytics</h1>
        <p>This is analytics content</p>
      {{/tab.pane}}

      {{#tab.pane title="Settings" icon="tools"}}
        <h1>Settings</h1>
        <p>This is settings content</p>
      {{/tab.pane}}

      {{#tab.pane title="Upload" icon="upload"}}
        <h1>Upload</h1>
        <p>This is upload content</p>
      {{/tab.pane}}

    {{/x-tab}}
  </section>

  <section>
    {{#x-tab  tab-style="tabs-style-iconbox" as |tab| }}

      {{#tab.pane title="Home" icon="home"}}
        <h1>Home</h1>
        <p>This is home content</p>
      {{/tab.pane}}

      {{#tab.pane title="Archive" icon="box"}}
        <h1>Archive</h1>
        <p>This is archive content</p>
      {{/tab.pane}}

      {{#tab.pane title="Analytics" icon="display"}}
        <h1>Analytics</h1>
        <p>This is analytics content</p>
      {{/tab.pane}}

      {{#tab.pane title="Settings" icon="tools"}}
        <h1>Settings</h1>
        <p>This is settings content</p>
      {{/tab.pane}}

      {{#tab.pane title="Upload" icon="upload"}}
        <h1>Upload</h1>
        <p>This is upload content</p>
      {{/tab.pane}}

    {{/x-tab}}
  </section>

  <section>
    {{#x-tab  tab-style="tabs-style-underline" as |tab| }}

      {{#tab.pane title="Home" icon="home"}}
        <h1>Home</h1>
        <p>This is home content</p>
      {{/tab.pane}}

      {{#tab.pane title="Archive" icon="box"}}
        <h1>Archive</h1>
        <p>This is archive content</p>
      {{/tab.pane}}

      {{#tab.pane title="Analytics" icon="display"}}
        <h1>Analytics</h1>
        <p>This is analytics content</p>
      {{/tab.pane}}

      {{#tab.pane title="Settings" icon="tools"}}
        <h1>Settings</h1>
        <p>This is settings content</p>
      {{/tab.pane}}

      {{#tab.pane title="Upload" icon="upload"}}
        <h1>Upload</h1>
        <p>This is upload content</p>
      {{/tab.pane}}

    {{/x-tab}}
  </section>

  <section>
    {{#x-tab  tab-style="tabs-style-linetriangle" as |tab| }}

      {{#tab.pane title="Home" }}
        <h1>Home</h1>
        <p>This is home content</p>
      {{/tab.pane}}

      {{#tab.pane title="Archive" }}
        <h1>Archive</h1>
        <p>This is archive content</p>
      {{/tab.pane}}

      {{#tab.pane title="Analytics" }}
        <h1>Analytics</h1>
        <p>This is analytics content</p>
      {{/tab.pane}}

      {{#tab.pane title="Settings" }}
        <h1>Settings</h1>
        <p>This is settings content</p>
      {{/tab.pane}}

      {{#tab.pane title="Upload" }}
        <h1>Upload</h1>
        <p>This is upload content</p>
      {{/tab.pane}}

    {{/x-tab}}
  </section>

  <section>
    {{#x-tab  tab-style="tabs-style-topline" as |tab| }}

      {{#tab.pane title="Home" icon="home"}}
        <h1>Home</h1>
        <p>This is home content</p>
      {{/tab.pane}}

      {{#tab.pane title="Archive" icon="box"}}
        <h1>Archive</h1>
        <p>This is archive content</p>
      {{/tab.pane}}

      {{#tab.pane title="Analytics" icon="display"}}
        <h1>Analytics</h1>
        <p>This is analytics content</p>
      {{/tab.pane}}

      {{#tab.pane title="Settings" icon="tools"}}
        <h1>Settings</h1>
        <p>This is settings content</p>
      {{/tab.pane}}

      {{#tab.pane title="Upload" icon="upload"}}
        <h1>Upload</h1>
        <p>This is upload content</p>
      {{/tab.pane}}

    {{/x-tab}}
  </section>

  <section>
    {{#x-tab  tab-style="tabs-style-iconfall" as |tab| }}

      {{#tab.pane title="Home" icon="home"}}
        <h1>Home</h1>
        <p>This is home content</p>
      {{/tab.pane}}

      {{#tab.pane title="Archive" icon="box"}}
        <h1>Archive</h1>
        <p>This is archive content</p>
      {{/tab.pane}}

      {{#tab.pane title="Analytics" icon="display"}}
        <h1>Analytics</h1>
        <p>This is analytics content</p>
      {{/tab.pane}}

      {{#tab.pane title="Settings" icon="tools"}}
        <h1>Settings</h1>
        <p>This is settings content</p>
      {{/tab.pane}}

      {{#tab.pane title="Upload" icon="upload"}}
        <h1>Upload</h1>
        <p>This is upload content</p>
      {{/tab.pane}}

    {{/x-tab}}
  </section>

  <section>
    {{#x-tab  tab-style="tabs-style-linemove" as |tab| }}

      {{#tab.pane title="Home" icon="home"}}
        <h1>Home</h1>
        <p>This is home content</p>
      {{/tab.pane}}

      {{#tab.pane title="Archive" icon="box"}}
        <h1>Archive</h1>
        <p>This is archive content</p>
      {{/tab.pane}}

      {{#tab.pane title="Analytics" icon="display"}}
        <h1>Analytics</h1>
        <p>This is analytics content</p>
      {{/tab.pane}}

      {{#tab.pane title="Settings" icon="tools"}}
        <h1>Settings</h1>
        <p>This is settings content</p>
      {{/tab.pane}}

      {{#tab.pane title="Upload" icon="upload"}}
        <h1>Upload</h1>
        <p>This is upload content</p>
      {{/tab.pane}}

    {{/x-tab}}
  </section>

  <section>
    {{#x-tab  tab-style="tabs-style-line" as |tab| }}

      {{#tab.pane title="Home" icon="home"}}
        <h1>Home</h1>
        <p>This is home content</p>
      {{/tab.pane}}

      {{#tab.pane title="Archive" icon="box"}}
        <h1>Archive</h1>
        <p>This is archive content</p>
      {{/tab.pane}}

      {{#tab.pane title="Analytics" icon="display"}}
        <h1>Analytics</h1>
        <p>This is analytics content</p>
      {{/tab.pane}}

      {{#tab.pane title="Settings" icon="tools"}}
        <h1>Settings</h1>
        <p>This is settings content</p>
      {{/tab.pane}}

      {{#tab.pane title="Upload" icon="upload"}}
        <h1>Upload</h1>
        <p>This is upload content</p>
      {{/tab.pane}}

    {{/x-tab}}
  </section>

  <section>
    {{#x-tab  tab-style="tabs-style-circle" as |tab| }}

      {{#tab.pane title="Home" icon="home"}}
        <h1>Home</h1>
        <p>This is home content</p>
      {{/tab.pane}}

      {{#tab.pane title="Archive" icon="box"}}
        <h1>Archive</h1>
        <p>This is archive content</p>
      {{/tab.pane}}

      {{#tab.pane title="Analytics" icon="display"}}
        <h1>Analytics</h1>
        <p>This is analytics content</p>
      {{/tab.pane}}

      {{#tab.pane title="Settings" icon="tools"}}
        <h1>Settings</h1>
        <p>This is settings content</p>
      {{/tab.pane}}

      {{#tab.pane title="Upload" icon="upload"}}
        <h1>Upload</h1>
        <p>This is upload content</p>
      {{/tab.pane}}

    {{/x-tab}}
  </section>

  <section>
    {{#x-tab  tab-style="tabs-style-shape" as |tab| }}

      {{#tab.pane title="Home" }}
        <h1>Home</h1>
        <p>This is home content</p>
      {{/tab.pane}}

      {{#tab.pane title="Archive" }}
        <h1>Archive</h1>
        <p>This is archive content</p>
      {{/tab.pane}}

      {{#tab.pane title="Analytics" }}
        <h1>Analytics</h1>
        <p>This is analytics content</p>
      {{/tab.pane}}

      {{#tab.pane title="Settings" }}
        <h1>Settings</h1>
        <p>This is settings content</p>
      {{/tab.pane}}

      {{#tab.pane title="Upload" }}
        <h1>Upload</h1>
        <p>This is upload content</p>
      {{/tab.pane}}

    {{/x-tab}}
  </section>

  <section>
    {{#x-tab  tab-style="tabs-style-linebox" as |tab| }}

      {{#tab.pane title="Home" icon="home"}}
        <h1>Home</h1>
        <p>This is home content</p>
      {{/tab.pane}}

      {{#tab.pane title="Archive" icon="box"}}
        <h1>Archive</h1>
        <p>This is archive content</p>
      {{/tab.pane}}

      {{#tab.pane title="Analytics" icon="display"}}
        <h1>Analytics</h1>
        <p>This is analytics content</p>
      {{/tab.pane}}

      {{#tab.pane title="Settings" icon="tools"}}
        <h1>Settings</h1>
        <p>This is settings content</p>
      {{/tab.pane}}

      {{#tab.pane title="Upload" icon="upload"}}
        <h1>Upload</h1>
        <p>This is upload content</p>
      {{/tab.pane}}

    {{/x-tab}}
  </section>

  <section>
    {{#x-tab  tab-style="tabs-style-flip" as |tab| }}

      {{#tab.pane title="Home" icon="home"}}
        <h1>Home</h1>
        <p>This is home content</p>
      {{/tab.pane}}

      {{#tab.pane title="Archive" icon="box"}}
        <h1>Archive</h1>
        <p>This is archive content</p>
      {{/tab.pane}}

      {{#tab.pane title="Analytics" icon="display"}}
        <h1>Analytics</h1>
        <p>This is analytics content</p>
      {{/tab.pane}}

      {{#tab.pane title="Settings" icon="tools"}}
        <h1>Settings</h1>
        <p>This is settings content</p>
      {{/tab.pane}}

      {{#tab.pane title="Upload"}}
        <h1>Upload</h1>
        <p>This is upload content</p>
      {{/tab.pane}}

    {{/x-tab}}
  </section>

  <section>
    {{#x-tab  tab-style="tabs-style-circlefill" as |tab| }}

      {{#tab.pane title="Home" icon="home"}}
        <h1>Home</h1>
        <p>This is home content</p>
      {{/tab.pane}}

      {{#tab.pane title="Archive" icon="box"}}
        <h1>Archive</h1>
        <p>This is archive content</p>
      {{/tab.pane}}

      {{#tab.pane title="Analytics" icon="display"}}
        <h1>Analytics</h1>
        <p>This is analytics content</p>
      {{/tab.pane}}

      {{#tab.pane title="Settings" icon="tools"}}
        <h1>Settings</h1>
        <p>This is settings content</p>
      {{/tab.pane}}

      {{#tab.pane title="Upload" icon="upload"}}
        <h1>Upload</h1>
        <p>This is upload content</p>
      {{/tab.pane}}

    {{/x-tab}}
  </section>

  <section>
    {{#x-tab  tab-style="tabs-style-tzoid" as |tab| }}

      {{#tab.pane title="Home" icon="home"}}
        <h1>Home</h1>
        <p>This is home content</p>
      {{/tab.pane}}

      {{#tab.pane title="Archive" icon="box"}}
        <h1>Archive</h1>
        <p>This is archive content</p>
      {{/tab.pane}}

      {{#tab.pane title="Analytics" icon="display"}}
        <h1>Analytics</h1>
        <p>This is analytics content</p>
      {{/tab.pane}}

      {{#tab.pane title="Settings" icon="tools"}}
        <h1>Settings</h1>
        <p>This is settings content</p>
      {{/tab.pane}}

      {{#tab.pane title="Upload" icon="upload"}}
        <h1>Upload</h1>
        <p>This is upload content</p>
      {{/tab.pane}}

    {{/x-tab}}
  </section>

  <section>
    {{#x-tab  tab-style="tabs-style-fillup" as |tab| }}

      {{#tab.pane title="Home" icon="home"}}
        <h1>Home</h1>
        <p>This is home content</p>
      {{/tab.pane}}

      {{#tab.pane title="Archive" icon="box"}}
        <h1>Archive</h1>
        <p>This is archive content</p>
      {{/tab.pane}}

      {{#tab.pane title="Analytics" icon="display"}}
        <h1>Analytics</h1>
        <p>This is analytics content</p>
      {{/tab.pane}}

      {{#tab.pane title="Settings" icon="tools"}}
        <h1>Settings</h1>
        <p>This is settings content</p>
      {{/tab.pane}}

      {{#tab.pane title="Upload" icon="upload"}}
        <h1>Upload</h1>
        <p>This is upload content</p>
      {{/tab.pane}}

    {{/x-tab}}
  </section>


</div>
