<div class="container">
  <!-- Top Navigation -->
	<div class="codrops-top clearfix">
		<a class="codrops-icon codrops-icon-prev" href="http://github.com/rajasegar/ember-x-tabs/"><span>Github</span></a>
		<span class="right"><a class="codrops-icon codrops-icon-drop" href="http://tympanus.net/codrops/?p=19559"><span>Back to the Codrops Article</span></a></span>
	</div>
  <div>
  {{#link-to "index"}}Examples using x-tab{{/link-to}}
  </div>
  <div>
    {{#link-to "xtabs-example"}}Examples using x-tabs (New){{/link-to}}
  </div>
	<header class="codrops-header">
		<h1>ember-x-tabs <span>A small collection of styles for tabs</span></h1>
		<p class="support">Your browser does not support <strong>flexbox</strong>! <br />Please view this demo with a <strong>modern browser</strong>.</p>
	</header>
{{outlet}}
</div>
