{{outlet}}
<svg class="hidden">
  <defs>
    <path id="tabshape" d="M80,60C34,53.5,64.417,0,0,0v60H80z"/>
  </defs>
</svg>

<section>
<XTabs @activeName="archive" @tabStyle="tabs-style-topline">
<h1>hello</h1>
</XTabs>
</section>
