<XTabs @tab-style={{@tabStyle}} as |xt|>

  {{!-- tab content --}}
  <xt.tabs as |tabs|>
    <tabs.tab @name="home">
      <i class="icon icon-home"></i>
      <span>Home</span>
    </tabs.tab>
    <tabs.tab @name="archive">
      <i class="icon icon-box"></i>
      <span>Archive</span>
    </tabs.tab>
    <tabs.tab @name="analytics">
      <i class="icon icon-display"></i>
      <span>Analytics</span>
    </tabs.tab>
    <tabs.tab @name="settings">
      <i class="icon icon-tools"></i>
      <span>Settings</span>
    </tabs.tab>
    <tabs.tab @name="upload">
      <i class="icon icon-upload"></i>
      <span>Upload</span>
    </tabs.tab>
  </xt.tabs>

  {{!-- tab content --}}
  <xt.panes as |panes|>
    <panes.pane @name="home">
      <h1>Home</h1>
      <p>This is home content</p>
    </panes.pane>
    <panes.pane @name="archive">
      <h1>Archive</h1>
      <p>This is archive content</p>
    </panes.pane>
    <panes.pane @name="analytics">
      <h1>Analytics</h1>
      <p>This is analytics content</p>
    </panes.pane>
    <panes.pane @name="settings">
      <h1>Settings</h1>
      <p>This is settings content</p>
    </panes.pane>
    <panes.pane @name="upload">
      <h1>Upload</h1>
      <p>This is upload content</p>
    </panes.pane>
  </xt.panes>

</XTabs>
